@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');

@font-face {
    font-family: 'odin-font';
    src: url(fonts/bungee-spice-regular.ttf);
}

body {
    display: flex;
}

[alt="train-image"] {
    width: 40vw;
    height: 100vh;
    position: relative;
}

[alt="odin-logo"] {
    width: 50px;
    height: 50px;
}

.odin {
    font-family: odin-font;
    font-size: 50px;
    margin-left: 10px;
}

.logo {
    background-color: rgb(0, 121, 0, 0.5);
    width: 40vw;
    position: absolute;
    top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 97vh;
    left: 9vw;
}

a {
    color: white;
    text-decoration: underline;
}

p {
    font-family: 'Antonio', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.form-area {
    background-color: rgb(242, 244, 244);
}

.header-text {
    margin-top: 7vh;
    padding-left: 40px;
    padding-right: 40px;
}

.form {
    margin-top: 7vh;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'Antonio', sans-serif;
}

.inputs-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25vw);
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

input {
    width: 20vw;
    height: 3vh;
    border-radius: 5px;
}

input:hover {
    background: rgb(242, 244, 244, 0.5);
}

input:focus {
    outline: none;
    border: solid 1px #E5E7EB;
}

input:focus:valid {
    outline: none;
    border: solid 2px rgba(120, 177, 51, 0.8);
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid red;
}

















.button-area {
    margin-top: 5vh;
    padding-left: 40px;
}

#log-in-text {
    font-size: 17px;
    font-weight: 500;
    margin-top: 2vh;
}

#you-know-text {
    margin-top: 5vh;
}

#lets-do-text {
    margin-bottom: 1vh;
}

#fields-marked-text {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 2vh;
    color: grey;
}

button {
    width: 250px;
    height: 70px;
    border-radius: 20px;
    background: rgba(120, 177, 51, 0.8);
    color: rgb(242, 244, 244);
    font-size: 25px;
    font-family: 'Antonio', sans-serif;
    box-shadow: 0 4px black;
    border: solid 2px black;
}

button:hover {
    background-color: rgba(120, 177 ,51 , 1);
    cursor: pointer;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0 0px black;
}

p > a {
    color: green;
}